/* Basic CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#site-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    font-style: bold;
    padding-left: 10px;
    padding-top: 5px;
}

nav {
    display: flex;
    background-color: #e096d4;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

#menu {
    display: grid;
    width: 400px;
    justify-content: left;
    align-items: baseline;
    left: calc(100% - 400px);
    padding-bottom: 5px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

#search {
    display: block;
    height: 22px;
    padding-top: 5px;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #811b1b;
    font-weight: bold;
    border-radius: 5px;
}

.analysisForm {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
    height: 200px;
    align-items: center;
    background-color: rgb(106, 175, 175);
}

.analysisForm label {
    display: inline-block;
    width: 80px;
    margin-top: 10px;
}

.analysisForm input {
    margin-top: 10px;
}

.analysisForm select {
    margin-top: 10px;
}

#addPatient {
    margin-top: 8px;
    margin-left: 294px;
    transform: translateY(-36px);
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
    width: 200px;
    padding: 5px;
}

button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.report-container {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: rgb(226, 222, 217);

}

#contact-us-main {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: left;
    padding: 10px 10px;
}

#contactForm {
    position: absolute;
    display: block;
    width: 400px;
    left: calc(50% - 200px);
}

#contactForm div {
    margin-top: 10px;
    display: flex;
}

#contactForm div label {
    width: 100px;
}

#contact-submit {
    margin-top: 10px;
    transform: translateX(-60px);
}

.searchCondition {
    padding-left: 10px;
    padding-top: 5px;
}
